body {
    /*background-image: url(../image/1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px -50px;*/
    background: url("../image/1.jpg") no-repeat;
    background-size: cover;
}

h1, .h1 {
    font-size: calc(1.375rem + 1.5vw);
}

#login-box {
    background-color: #00000068;
    border-radius: 13px;
    text-align: center;
    margin: 20% auto 0;
    width: 350px;
    height: 320px;
}

#login-box h1 {
    padding-top: 50px;
    color: #ffffff;
}

#login-box .input-box {
    margin-top: 30px;
}

#login-box .input-box input {
    border: none;
    background: none;
    border-bottom: #FFFFFF 2px solid;
    padding: 5px 10px;
    outline: none;
    color: #FFFFFF;
}

#login-box button {
    line-height: 30px;
    margin-top: 30px;
    width: 130px;
    height: 30px;
    border-radius: 13px;
    outline: none;
    border: none;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    color: #FFFFFF;
}

#login-box button:hover {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

#login-box .input-box i {
    color: #FFFFFF;
}

#login-box a {
    font-size: 12px;
    margin-left: 10px;
    color: #FFFFFF;
    text-decoration: none;
}

