<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/iconfont.css"/>
</head>
<body>

<form action="/login" method="post">
    <div id="login-box">
        <h1>Login</h1>
        <div class="input-box">
            <i class="iconfont">&#xe609;</i>
            <input name="username" type="text" class="loginuser" value="" placeholder="UserName"/>
        </div>
        <div class="input-box">
            <i class="iconfont">&#xe605;</i>
            <input name="password" type="password" class="loginpwd" value="" placeholder="UserPassword"/>
        </div>
        <button type="submit" class="btn btn-primary">登录</button>
    </div>
</form>
</body>
</html>

